<section class="content-header">
  <h1>
    Todos os Restaurantes
    <a (click)="toggleSearch()" class="search-link pull-right">
       <i class="fa fa-search"></i>
    </a>
  </h1>

  <!-- barra de pesquisa -->
  <div class="row">
    <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
      <form [formGroup]="searchForm">
        <div class="form-group">
          <input type="text" formControlName="searchControl" class="form-control" placeholder="Pesquisar" />
        </div>
      </form>
    </div>
  </div>
</section>


<section class="content">

  <div class="row">
    <div *ngFor="let restaurant of restaurants" class="col-sm-6 col-xs-12">
      <mt-app-restaurant [restaurant]="restaurant"></mt-app-restaurant>
    </div>

    <div *ngIf="restaurants?.length === 0" class="col-xs-12">
      <p class="lead text-center">
        Não foram encontrados restaurantes para a sua pesquisa.
      </p>
    </div>

  </div>
</section>